
.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookItem {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    justify-content: center;
    max-width: 300px;
    word-wrap: normal;
}

.bookItem img {
    width: 200px;
    margin-top: 20px;
    align-self: center;
}

.bookSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.searchField {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-self: center;
}

.userBooks {
    margin-top: 10px;
}
 .deleteButton {
     width: 150px;
     align-self: center;
     margin-top: 10px;
 }

 h2 {
     text-align: center;
 }

 .main-display {
     margin-top: 150px;
 }