
.loginBlock {
    display: flex;
    flex-direction: column;
}

.loginInput {
    align-self: center;
}

.registerBlock {
    display: flex;
    flex-direction: column;
}

.registerInput {
    align-self: center;
}

.registerBlock h2 {
    align-self: center;
}

.loginBlock h2 {
    align-self: center;
}