.menu-items {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0);  
    width: 100%;
    color: white;
    height: 25px;
    align-self: center;
    font-weight: bold;
}

.menu a {
    color: white;
    padding: 0px 20px 0px 20px;
}

.logout-button {
    margin: 0px 0px 0px 20px;
    height: fit-content;
}

.cart {
    color: white;
    margin-block-start: auto;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.cart-label {
    margin-left: 5px;

}

.menu {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: white;
    background-color: black;
}