.menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}

.menu-item {
    margin: 0px 20px 0px 20px;
}

.cart {
    align-self: flex-end;
}

.menu a {
    color: white;
    width: 100px;
}

.menu button {
    width: 75px
}